<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>

  <appSettings>
    <add key="DatabasePersistence" value="SqlExpressDb"/>
    <add key="MessageLogPath" value="MessageLog.txt" />
    <add key="ErrorLogPath" value="ErrorLog.txt" />
  </appSettings>

  <connectionStrings>
    <add name="AppDbContext" connectionString="data source=localhost\SQLEXPRESS;initial catalog=ChessGame;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>